<%- include('header', { header: account.first_name + ", " + account.last_name}); -%>
<div><a href="/">Back</a></div>
	<p><b>Email:</b> <%= account.email %></p>
	<div>
		<form method="POST" action="/delete/<%= account.id %>">
			<div>
				<input type="hidden" value="<%= account.id %>">
				<button>Delete</button>
			</div>
		</form>
	</div>
<%- include('footer'); -%>
