
<%- include('header', { header: 'Home'}); -%>

<div><a href="/add-account">Add Account</a></div>
<div>
	<% accounts.forEach(account => { %>
		<li><a href="/<%= account.id %>"><%= account.last_name %>, <%= account.first_name %></a> <a href="/edit/<%= account.id %>">Edit</a></li>
	<% }) %>
</div>

<%- include('footer'); -%>